* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
.l-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav main main main";
}

.l-header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8em;
}

.l-nav {
  grid-area: nav;
}

.l-main {
  grid-area: main;
}
.l-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0 0.8em;
}
header {
  border-bottom: 0.1px solid rgb(221, 220, 220);
}
menu {
  list-style: none;
}

input[type="search"] {
  height: 2em;
  background-color: #f1f3f4;
  border: 0.1px solid gray;
}

input[type="search"]::placeholder {
  color: #5f6368;
  font-size: 1.14em;
  font-style: 400;
}

.button {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid red;
}

.button > .icon {
  color: #5f6368;
}

.button:hover {
  background-color: #e4e6e8;
}

.search-bar {
  border-radius: 10px;
  background-color: #f1f3f4;
  height: 3em;
}

.image-profile {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
