// navbar component
@use "styles/base";
@use "styles/modules/navbar";
@use "styles/modules/header";
@use "styles/modules/search-bar";
@use "styles/pages/home";

input {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

input:focus {
  outline: none;
}

input[type="search"] {
  height: 100%;
  background-color: transparent;
  flex-grow: 2;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  &.button-large {
    padding: 0.7em 0.8em;
  }
  &.button-medium {
    padding: 0.45em 0.6em;
  }
  &.button-small {
    padding: 0.3em 0.4em;
  }
  &.button-circle {
    border-radius: 50px;
    &:hover {
      background-color: #f1f1f2;
      & > .icon {
        color: #5f6368;
      }
    }

    &.button-profile {
      padding: 0.4em 0.5em;
    }
  }
  &.rectangle-button {
    padding: 0.7em 1.8em;
    border-radius: 4px;
    color: #232325;
    letter-spacing: 0.5px;
    &:hover {
      background-color: #f9f9fa;
    }
    font-size: 0.9em;
  }
  &.button-select-note {
    position: absolute;
    top: -8px;
    left: -8px;
    & > .icon {
      color: #111111;
    }
  }
  &.button-navbar {
    gap: 2.5em;
  }
}

.icon {
  cursor: pointer;
  color: #797979;
  &.icon-small {
    font-size: 1.5em;
    &.material-symbols-outlined {
      font-variation-settings: "wght" 400;
      color: #626262;
      &.icon-disabled {
        color: #c6c6c6;
      }
    }
  }
  &.icon-fill {
    &.material-symbols-outlined {
      font-variation-settings: "FILL" 1;
    }
  }
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
}

.l-new-note-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &.is-view {
    & > .l-new-note-shortcut {
      display: flex;
    }
    & > .l-new-note-shortcut-expanded {
      display: none;
    }
  }
  &.is-edit {
    & > .l-new-note-shortcut {
      display: none;
    }
    & > .l-new-note-shortcut-expanded {
      display: flex;
    }
  }
}

.l-new-note-shortcut {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0.05px 0.05px 7px 0.05px rgb(204, 204, 204);
  border-style: solid;
  border-color: #dfdfdf;
  border: 0.1px solid rgb(204, 204, 204);
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  box-sizing: border-box;
  & > div {
    flex-wrap: nowrap;
  }
}

.l-new-note-shortcut-expanded {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0.3em 1em;
  box-sizing: border-box;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0.05px 0.05px 7px 0.05px rgb(204, 204, 204);
  border-style: solid;
  border-color: #dfdfdf;
  border: 0.1px solid rgb(204, 204, 204);
  & > .l-note-toolbar {
    margin-top: 0;
    justify-content: space-between;
    & > .icon-button-bar {
      justify-content: flex-start;
      gap: 1.2em;
    }
    & > .rectangle-button {
      margin-bottom: 0.2em;
    }
  }
  & > input {
    font-size: 0.9em;
    &::placeholder {
      color: #565656;
    }
  }
  & > header {
    justify-content: space-between;
    & > span {
      color: #717171;
    }
  }
}

.new-note-input {
  height: 100%;
  border-radius: 8px 0 0 8px;
  font-weight: 400;
  flex-grow: 2;
}

.new-note-input::placeholder {
  color: #565656;
}

.l-note-list-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.l-note-list {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.note-list-title {
  padding-left: 1.4em;
  color: #5f6368;
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.07em;
}

.l-notes {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.l-note-wrapper {
  position: relative;
  border: 0.1em solid rgb(214, 214, 214);
  border-radius: 8px;
  button,
  .toolbar {
    visibility: hidden;
  }
  &:hover {
    button,
    .toolbar {
      visibility: visible;
    }
    box-shadow: 0.1px 0.1px 3px 0.3px rgb(189, 189, 189);
  }
}

.l-note {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0.8em 0.8em 0.2em 0.8em;
}

.note {
  color: rgb(32, 33, 36);
}

.l-note-header {
  justify-content: space-between;
}

.note-title {
  font-weight: 500;
  // color: rgb(32, 33, 36);
}

.note-body {
  font-size: 0.9em;
}
.l-note-toolbar {
  justify-content: flex-start;
  margin-top: 1em;
  gap: 1.2em;
}
.navbar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 0.6em;
}
.navbar-menu-item:nth-child(1) {
  background-color: #feefc3;
}

.navbar-menu-item:hover {
  background-color: #f1f3f4;
}

.navbar-menu-item {
  padding: 0.8em 0 0.8em 1.4em;
  border-radius: 0 50px 50px 0;
  .button-navbar-text {
    font-size: 1.1em;
  }
  .icon {
    color: rgb(81, 81, 81);
  }
}

// #navbar.is-hover {
//   box-shadow: 0.3px 0.4px 9px 2px rgb(217, 217, 217);
// }
