* {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s;
  transition: background-color 0s 600000s, color 0s 600000s;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

.l-container {
  display: grid;
  grid-template-columns: 280px 1fr 1fr;
  grid-template-areas: "header header header" "nav main main";
}

.l-header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  padding: 0.6em 0.8em;
  gap: 45px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

#header {
  border-bottom: 0.5px solid rgb(212, 212, 212);
  background-color: white;
}

.l-nav {
  grid-area: nav;
  margin-top: 72px;
}

.l-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 72px;
}

.l-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l-header-left-part {
  flex-grow: 2;
  gap: 90px;
}

.l-header-right-part {
  gap: 24px;
}

menu {
  list-style: none;
}

.keep-logo-type {
  color: rgb(95, 99, 104);
  font-size: 22px;
  font-weight: 400;
}

.search-bar {
  border-radius: 10px;
  background-color: #f1f3f4;
  height: 3em;
  flex-basis: 290px;
  max-width: 722px;
  flex-grow: 2;
  padding: 0.1em 0.8em;
  gap: 0.6em;
}
.search-bar .button-close {
  display: none;
}
.search-bar.is-focused {
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgb(185, 185, 185);
}
.search-bar.is-focused button:hover {
  background-color: #f1f1f2;
}
.search-bar.is-focused .button-close {
  display: inline-block;
}

input {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

input:focus {
  outline: none;
}

input[type=search] {
  height: 100%;
  background-color: transparent;
  flex-grow: 2;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}
.button.button-large {
  padding: 0.7em 0.8em;
}
.button.button-medium {
  padding: 0.45em 0.6em;
}
.button.button-small {
  padding: 0.3em 0.4em;
}
.button.button-circle {
  border-radius: 50px;
}
.button.button-circle:hover {
  background-color: #f1f1f2;
}
.button.button-circle:hover > .icon {
  color: #5f6368;
}
.button.button-circle.button-profile {
  padding: 0.4em 0.5em;
}
.button.button-select-note {
  position: absolute;
  top: -8px;
  left: -8px;
}
.button.button-select-note > .icon {
  color: #111111;
}
.button.button-navbar {
  gap: 2.5em;
}

.icon {
  cursor: pointer;
  color: #797979;
}
.icon.icon-small {
  font-size: 1.5em;
}
.icon.icon-small.material-symbols-outlined {
  font-variation-settings: "wght" 400;
  color: #626262;
}
.icon.icon-fill.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}

.profile-image {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-new-note-shortcuts {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0.05px 0.05px 7px 0.05px rgb(204, 204, 204);
  border-style: solid;
  border-color: #dfdfdf;
  border: 0.1px solid rgb(204, 204, 204);
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
}

.new-note-input {
  height: 100%;
  border-radius: 8px 0 0 8px;
  font-weight: 400;
  flex-grow: 2;
}

.new-note-input::-moz-placeholder {
  color: #565656;
}

.new-note-input::placeholder {
  color: #565656;
}

.l-note-list-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4em;
  width: 80%;
  max-width: 600px;
}

.l-note-list {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.note-list-title {
  padding-left: 1.4em;
  color: #5f6368;
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.07em;
}

.l-notes {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.l-note-wrapper {
  position: relative;
  border: 0.1em solid rgb(214, 214, 214);
  border-radius: 8px;
}
.l-note-wrapper button,
.l-note-wrapper .toolbar {
  visibility: hidden;
}
.l-note-wrapper:hover {
  box-shadow: 0.1px 0.1px 3px 0.3px rgb(189, 189, 189);
}
.l-note-wrapper:hover button,
.l-note-wrapper:hover .toolbar {
  visibility: visible;
}

.l-note {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0.8em 0.8em 0.2em 0.8em;
}

.note {
  color: rgb(32, 33, 36);
}

.l-note-header {
  justify-content: space-between;
}

.note-title {
  font-weight: 500;
}

.note-body {
  font-size: 0.9em;
}

.l-note-toolbar {
  justify-content: flex-start;
  padding-top: 1em;
  gap: 1.2em;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 0.6em;
  background-color: white;
}

.navbar-menu-item:nth-child(1) {
  background-color: #feefc3;
}

.navbar-menu-item:hover {
  background-color: #f1f3f4;
}

.navbar-menu-item {
  padding: 0.8em 0 0.8em 1.4em;
  border-radius: 0 50px 50px 0;
}
.navbar-menu-item .button-navbar-text {
  font-size: 1.1em;
}
.navbar-menu-item .icon {
  color: rgb(81, 81, 81);
}

#navbar.is-close {
  width: -moz-fit-content;
  width: fit-content;
}
#navbar.is-close .button-navbar-text {
  display: none;
}
#navbar.is-close .navbar-menu-item {
  border-radius: 50%;
  margin-left: 0.8em;
  padding: 0.7em 0.8em;
}/*# sourceMappingURL=style.css.map */