.l-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "header header header"
    "nav main main";
}

.l-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 72px;
  & > div {
    width: 80%;
    max-width: 600px;
  }
}

menu {
  list-style: none;
}

.keep-logo-type {
  color: rgb(95, 99, 104);
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .l-main {
    & > div {
      width: 95%;
    }
  }
}
@media (max-width: 600px) {
  .l-new-note-shortcut > div {
    flex-wrap: nowrap;
  }
  .l-container {
    grid-template-columns: 65px 1fr 1fr;
  }
  .l-main {
    margin-top: 50px;
  }
}
