@use "../variables";

// TODO: set colors for buttons
.button-icon {
  border-radius: 50%;
  &:not(.is-disabled):hover {
    background-color: variables.$button-bg-color-hover;
    & > .icon {
      color: variables.$button-color-hover;
    }
  }
  & > .icon {
    color: variables.$icon-color;
    display: block;
  }
  &-small {
    width: 34px;
    height: 32px;
    & > .icon {
      font-size: 18px;
      color: variables.$icon-color-small;
      &.material-symbols-outlined {
        font-variation-settings: "wght" 500;
      }
    }
    &.is-disabled {
      cursor: not-allowed;
      & > .icon {
        color: variables.$icon-color-disabled;
      }
    }
    & > .icon-pin {
      font-size: 24px;
      color: variables.$icon-color-small;
      // &.material-symbols-outlined {
      //   font-variation-settings: "FILL" 1;
      // }
    }
  }
  &-medium {
    width: 40px;
    height: 40px;
  }
  &-large {
    width: 48px;
    height: 48px;
    & > .icon {
      font-size: 24px;
    }
  }
  &.button-select-note {
    position: absolute;
    top: -8px;
    left: -8px;
    & > .icon {
      color: variables.$text-button-color;
      &.material-symbols-outlined {
        font-variation-settings: "FILL" 1;
      }
    }
  }
}
.button-text {
  width: 90px;
  height: 36px;
  border-radius: 4px;
  color: variables.$text-button-color;
  letter-spacing: 0.5px;
  font-size: 14px;
  &:hover {
    background-color: #f9f9fa;
  }
  &.material-symbols-outlined {
    font-variation-settings: "wght" 500;
  }
}

// @media (max-width: 375px) {
//   .button {
//     border: none;
//     background-color: transparent;
//     cursor: pointer;
//     text-align: center;
//     &.button-icon {
//       border-radius: 50%;
//       &.button-icon-small {
//         & > .icon {
//           font-size: 24x;
//           color: red;
//           font-weight: 300;
//         }
//       }
//       &.button-icon-medium {
//       }
//       &.button-icon-large {
//       }
//     }
//     &.button-text {
//     }
//   }
// }

// .button {
//   border: none;
//   background-color: transparent;
//   cursor: pointer;
//   text-align: center;
//   &.button-large {
//     padding: 0.7em 0.8em;
//   }
//   &.button-medium {
//     padding: 0.45em 0.6em;
//   }
//   &.button-small {
//     padding: 0.3em 0.4em;
//   }
//   &.button-circle {
//     border-radius: 50px;
//     &:hover {
//       background-color: #f1f1f2;
//       & > .icon {
//         color: #5f6368;
//       }
//     }

//     &.button-profile {
//       padding: 0.4em 0.5em;
//     }
//   }
//   &.rectangle-button {
//     padding: 0.7em 1.8em;
//     border-radius: 4px;
//     color: #232325;
//     letter-spacing: 0.5px;
//     &:hover {
//       background-color: #f9f9fa;
//     }
//     font-size: 0.9em;
//   }
//   &.button-select-note {
//     position: absolute;
//     top: -8px;
//     left: -8px;
//     & > .icon {
//       color: #111111;
//     }
//   }
//   &.button-navbar {
//     gap: 2.5em;
//   }
// }

// .icon {
//   cursor: pointer;
//   color: #797979;
//   &.icon-small {
//     font-size: 1.5em;
//     &.material-symbols-outlined {
//       font-variation-settings: "wght" 400;
//       color: #626262;
//       &.icon-disabled {
//         color: #c6c6c6;
//       }
//     }
//   }
//   &.icon-fill {
//     &.material-symbols-outlined {
//       font-variation-settings: "FILL" 1;
//     }
//   }
// }
