@use "../variables";

// TODO: set colors for buttons
.button-icon {
  border-radius: 50%;
  &:not(.is-disabled):hover {
    background-color: variables.$button-bg-color-hover;
    & > .icon {
      color: variables.$button-color-hover;
    }
  }
  & > .icon {
    color: variables.$icon-color;
    display: block;
  }
  &-small {
    width: 34px;
    height: 32px;
    & > .icon {
      font-size: 18px;
      color: variables.$icon-color-small;
      &.material-symbols-outlined {
        font-variation-settings: "wght" 500;
      }
    }
    & > .icon-pin {
      font-size: 24px;
      color: variables.$icon-color-small;
      // &.material-symbols-outlined {
      //   font-variation-settings: "FILL" 1;
      // }
    }
  }
  &-medium {
    font-size: 1.6rem;
    width: 2.5em;
    height: 2.5em;
    & > .icon{
      font-size:1.5em;
    }
  }
  &-large {
    // 24px
    font-size: 2.4rem; 
    // 42.2px
    width: 1.8em;
    height: 1.8em;
    // 24px
    & > .icon{
      font-size: 1em
    }
  }
  &.is-disabled {
    cursor: not-allowed;
    & > .icon {
      color: variables.$icon-color-disabled;
    }
  }
  &.is-hidden{
    display: none;
  }
  &.button-select-note {
    position: absolute;
    top: -8px;
    left: -8px;
    & > .icon {
      color: variables.$text-button-color;
      &.material-symbols-outlined {
        font-variation-settings: "FILL" 1;
      }
    }
  }
}
.button-close-new-note{
  width: 90px;
  height: 36px;
  border-radius: 4px;
  color: variables.$text-button-color;
  letter-spacing: 0.5px;
  font-size: 14px;
  &:hover {
    background-color: #f9f9fa;
  }
  &.material-symbols-outlined {
    font-variation-settings: "wght" 500;
  }
}

// @media (max-width: 375px) {
//   .button-icon-large{
//     width: 32px;
//     height: 32px;
//     & > .icon {
//       font-size: 1.25em
//     }
//   }
//   .button-icon-medium{
//     width: 32px;
//     height: 32px;
//     & > .icon{
//       font-size: 20px;
//     }
//   }
// }