@use "../variables";

.search-bar {
  border-radius: 10px;
  background-color: variables.$light-gray-bg;
  height: 2.8em;
  flex-basis: 290px;
  max-width: 722px;
  flex-grow: 2;
  padding: 0.1em 0.8em;
  gap: 0.6em;
  .button-close-searchbar {
    display: none;
  }
  .button-search {
    border-radius: 50px;
    &:hover {
      background-color: variables.$button-bg-color-hover;
      & > .icon {
        color: variables.$icon-color;
      }
    }
  }
  &.is-focused {
    background-color: white;
    box-shadow: 1px 1px 4px 1px variables.$shadow-color;
    button:hover {
      background-color: variables.$button-bg-color-hover;
    }
    .button-close-searchbar {
      display: inline-block;
    }
  }
}

@media (max-width: 795px) {
  .search-bar{
    display: none;
  }
}
