
#main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 72px;
  & > div {
    width: 80%;
    max-width: 600px;
  }
}

.new-note-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &.is-new-note-input-expanded{
    & > .new-note-shortcut{
      display: none;
    }
    & > .new-note{
      display: flex;
    }
  }
  &.is-new-note-input-shrunken{
    & > .new-note-shortcut{
      display: flex;
    }
    & > .new-note{
      display: none;
    }
  }
}

.new-note-shortcut {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0.05px 0.05px 7px 0.05px rgb(204, 204, 204);
  border-style: solid;
  border-color: #dfdfdf;
  border: 0.1px solid rgb(204, 204, 204);
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  box-sizing: border-box;
  &-toolbar {
    flex-wrap: nowrap;
  }
  &-body-text{
    height: 100%;
    border-radius: 8px 0 0 8px;
    font-weight: 400;
    flex-grow: 2;
    &::placeholder {
      color: #565656;
    }
  }
}

.new-note{
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0.3em 1em;
  box-sizing: border-box;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0.05px 0.05px 7px 0.05px rgb(204, 204, 204);
  border-style: solid;
  border-color: #dfdfdf;
  border: 0.1px solid rgb(204, 204, 204);
  & > .l-note-toolbar {
    margin-top: 0;
    justify-content: space-between;
    & > .icon-button-bar {
      justify-content: flex-start;
      gap: 1.2em;
    }
    & > .rectangle-button {
      margin-bottom: 0.2em;
    }
  }
  &-body-text {
    font-size: 0.9em;
    &::placeholder {
      color: #565656;
    }
  }
  & > header {
    justify-content: space-between;
    & > span {
      color: #717171;
    }
  }
}


.l-note-list-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.l-note-list {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.note-list-title {
  padding-left: 1.4em;
  color: #5f6368;
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.07em;
}

.l-notes {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.l-note-wrapper {
  position: relative;
  border: 0.1em solid rgb(214, 214, 214);
  border-radius: 8px;
  button,
  .toolbar {
    visibility: hidden;
  }
  &:hover {
    button,
    .toolbar {
      visibility: visible;
    }
    box-shadow: 0.1px 0.1px 3px 0.3px rgb(189, 189, 189);
  }
}

//   FIXME: merge classes l-note and .note
.l-note {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0.8em 0.8em 0.2em 0.8em;
}

.note {
  color: rgb(32, 33, 36);
  &-title{
    font-weight: 500;
  }
  &-body{
    font-size: 0.9em;
  }
}
// FIXME: change layout classes to module ones
.l-note-header {
  justify-content: space-between;
}

.l-note-toolbar {
  justify-content: flex-start;
  margin-top: 1em;
  gap: 1.2em;
}

@media (max-width: 768px) {
  #main {
    & > div {
      width: 95%;
    }
  }
}

@media (max-width: 600px) {
  .new-note-shortcut > div {
    flex-wrap: nowrap;
  }
  #main {
    margin-top: 50px;
  }
}
