#navbar{
  background-color: white;
  grid-area: nav;
  z-index: 1;
  width: 280px;
  margin-top: 70px;
  .navbar-menu {
    width: 280px;
    position: fixed;
    // top: 65px;
  }
  &.is-close {
    width: 65px;
    .button-navbar-text {
      display: none;
    }
    .navbar-menu {
      width: auto;
    }
    .navbar-menu-item {
      border-radius: 50%;
      margin-left: 0.8em;
      padding: 0.7em 0.8em;
    }
  }
}
.navbar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 0.6em;
}
.navbar-menu-item:nth-child(1) {
  background-color: #feefc3;
}

.navbar-menu-item:hover {
  background-color: #f1f3f4;
}

.navbar-menu-item {
  padding: 0.8em 0 0.8em 1.4em;
  border-radius: 0 50px 50px 0;
  .button-navbar-text {
    font-size: 1.1em;
  }
  .icon {
    color: rgb(81, 81, 81);
  }
}

// #navbar.is-hover {
//   box-shadow: 0.3px 0.4px 9px 2px rgb(217, 217, 217);
// }


@media (max-width: 600px) {
  #navbar{
    position: fixed;
    bottom: 0;
    top: -12px;
    box-shadow: 8px -4px 20px 1px rgb(223, 223, 223);
    &.is-close {
      box-shadow: none;
    }
  }
}
