@use "../variables";

$fullwidth: 280px;
$minwidth: 65px;
$transitionDelay: 300ms;
$transitionDuratioon: 250ms;

#navbar {
  grid-area: nav;
  z-index: 1;
  background-color: white;
  width: $fullwidth;
  .navbar-menu {
    display: flex;
    position: fixed;
    top: 70px;
    bottom: 0;
    flex-direction: column;
    transition-duration: $transitionDuratioon;
    transition-property: width, box-shadow;
    padding-top: 20px;
    width: $fullwidth;
    &-item {
      color: variables.$text-primary-color;
      font-weight: 500;
      font-size: 14px;
      &-link {
        display: flex;
        position: relative;
        left: 0;
        align-items: center;
        transition-duration: $transitionDuratioon;
        transition-property: width, border-radius, left;
        border-radius: 0 24px 24px 0;
        width: $fullwidth;
        height: 48px;
        &:hover {
          background-color: #f1f3f4;
        }
        &.active {
          background-color: #feefc3;
        }
        &-text {
          position: relative;
          left: 60px;
          transition-duration: $transitionDuratioon;
          transition-property: left;
        }
        .icon {
          position: relative;
          left: 22px;
          transition-duration: $transitionDuratioon;
          transition-property: left;
          border-radius: 50%;
          color: variables.$icon-color-navbar;
          font-size: 24px;
        }
      }
    }
  }
}

#navbar.is-minimized {
  width: $minwidth;
  .navbar-menu {
    width: $minwidth;
    &-item-link {
      left: 10px;
      border-radius: 50%;
      padding-left: 0;
      width: 48px;
      overflow: hidden;
      .icon {
        left: 12px;
      }
      &-text {
        left: 50px;
      }
    }
    &:hover {
      transition-delay: $transitionDelay;
      box-shadow: 8px -4px 20px 1px rgb(223, 223, 223);
      width: $fullwidth;
      .navbar-menu-item-link {
        left: 0;
        transition-delay: $transitionDelay;
        border-radius: 0 24px 24px 0;
        width: $fullwidth;
        .icon {
          left: 22px;
          transition-delay: $transitionDelay;
        }
        &-text {
          left: 60px;
          transition-delay: $transitionDelay;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #navbar {
    position: fixed;
    top: -12px;
    bottom: 0;
    box-shadow: 8px -4px 20px 1px rgb(223, 223, 223);
    &.is-minimized {
      box-shadow: none;
    }
  }
}
