@use "../variables";

#navbar{
  background-color: white;
  grid-area: nav;
  z-index: 1;
  width: 280px;
  margin-top: 70px;
  .navbar-menu {
    width: 280px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    &-item{
      border-radius: 0 50px 50px 0;
      font-size: 14px;
      font-weight: 500;
      color: #1F2124;
      &:nth-child(1) {
        background-color: #feefc3;
      }
      &:hover{
        background-color: #f1f3f4;
      }
      .icon {
        color: variables.$icon-color-navbar;
        text-align: center;
        width: 48px;
        height: 48px;
        font-size: 24px;
        border-radius: 50%;
        line-height: 2;
        margin-right: 24px;
        margin-left: 10px;
      }
      &-link{
          display: flex;
          flex-direction: row;
          align-items: center;
        
      }
    }
  }
  &.is-minimized {
    width: 65px;
    .navbar-menu {
      width: auto;
      &-item {
        &:hover{
          background-color: transparent;
          .icon{
              background-color: #f1f3f4;
          }
        }
        &-link{
          display: block;
          &-text{
            display: none;
          }
          & > .icon{
            margin-right: 0px;
          }
        }
        &:nth-child(1){
          background-color: transparent;
        }
        &:nth-child(1) .icon{
          background-color: #feefc3;
        }
      }
    }

  }
}

@media (max-width: 600px) {
  #navbar{
    position: fixed;
    bottom: 0;
    top: -12px;
    box-shadow: 8px -4px 20px 1px rgb(223, 223, 223);
    &.is-minimized {
      box-shadow: none;
    }
  }
}
