// TODO: define button colors variables
$icon-color: #6b6969;
$icon-color-small: #555555;
$icon-color-select-note: #111111;
$icon-color-disabled: #c6c6c6;
$icon-color-navbar: #4a4848;

$text-button-color: #232323;

$button-bg-color-hover:  #f1f1f2;
$button-color-hover: #3c3d3f