$icon-color: #6b6969;
$icon-color-disabled: #c6c6c6;

$primary-color: #1f2124;

$button-bg-color-hover:  #f1f1f2;
$button-color-hover: #3c3d3f;

$border-color: rgb(212, 212, 212);
$shadow-color: #dddddd;

$light-gray-bg: #f1f3f4;
$light-orange:  #feefc3;




